<%include file="/style.tmpl"/>
<table style="width:100%">
	<tbody>
		<tr>
			<th width="97%">
				<table>
					<tbody>
						<tr>
							<th>Regards</th>
						</tr>
						<tr>
							<th>${name}<br>${position}</th>
						</tr>
						<tr>
							<th class="small"></th>
						</tr>
						<tr>
							<th>
								Some Company
								<br>
								Doing Something cool
							</th>
						</tr>
					</tbody>
				</table>
					<table>
						<tbody>
                <%include file="/contact.tmpl"/>
						</tbody>
					</table>
				</th>
				<th width="3%">
          <%include file="/image.tmpl"/>
				</th>
			</tr>
		</tbody>
	</table>
</p>
<hr>
<%include file="/disclamer.tmpl"/>