<style>
table, th, td {
	border-collapse: collapse;
}
th, td {
	padding: 5px;
	text-align: left;
	font-weight:normal
}
p.small {
	font-size: 70%;
}
th.medium {
	font-size: 90%;
	color: #d37823;
}
th.small {
	font-size: 80%;
	line-height: 80%;
}
</style>